@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: 'amerikaa';
  src: url(/fonts/AMERIKAA.ttf?cf22c22b4bc344a0c65d13e8bd5c521b);
}

@font-face {
  font-family: 'amerika_';
  src: url(/fonts/AMERIKA_.ttf?93c732ca549fc78150fd878d0f2fe4a8);
}

@font-face {
  font-family: 'amersn__';
  src: url(/fonts/AMERSN__.ttf?d3f3d8a8cab98910dfde96949d95e310);
}

@font-face {
  font-family: 'boycott_';
  src: url(/fonts/BOYCOTT_.ttf?18fcb8fad512e786be08595ea9157104);
}

@font-face {
  font-family: 'capture_it';
  src: url(/fonts/Capture_it.ttf?bf99f8d814e79d05b4d2792354a94345);
}

@font-face {
  font-family: 'capture_it_2';
  src: url(/fonts/Capture_it_2.ttf?e2fdba3970c5aa2c18d6136da213dc4a);
}

@font-face {
  font-family: 'caviardreams';
  src: url(/fonts/CaviarDreams.ttf?fd2d0a4d699ed411275cb14ef35dec7d);
}

@font-face {
  font-family: 'caviardreams_bolditalic';
  src: url(/fonts/CaviarDreams_BoldItalic.ttf?b2e51669a1c906b13af71f3eca401444);
}

@font-face {
  font-family: 'caviardreams_italic';
  src: url(/fonts/CaviarDreams_Italic.ttf?b0ee942b1bcb053fb13f4173d76c8fc3);
}

@font-face {
  font-family: 'caviar_dreams_bold';
  src: url(/fonts/Caviar_Dreams_Bold.ttf?c32e6db748bed398b70c105d50b52ec7);
}

@font-face {
  font-family: 'gesso___';
  src: url(/fonts/GESSO___.ttf?4eea07042f42a24eee7dae1518d2141d);
}

@font-face {
  font-family: 'lato-black';
  src: url(/fonts/Lato-Black.ttf?1233fdf19c04333c7f58af4eb8698452);
}

@font-face {
  font-family: 'lato-blackitalic';
  src: url(/fonts/Lato-BlackItalic.ttf?e0d428e2113a119814da366401ad3362);
}

@font-face {
  font-family: 'lato-bold';
  src: url(/fonts/Lato-Bold.ttf?eb9532033c2adf99b1314611b5e9cd0e);
}

@font-face {
  font-family: 'lato-bolditalic';
  src: url(/fonts/Lato-BoldItalic.ttf?01577cc25f44d5cd3451a5e0da715917);
}

@font-face {
  font-family: 'lato-hairline';
  src: url(/fonts/Lato-Hairline.ttf?a2e8f8eef2ec2047a32e2d6a152a0311);
}

@font-face {
  font-family: 'lato-hairlineitalic';
  src: url(/fonts/Lato-HairlineItalic.ttf?2bbb788763716d2d716cfcb5bc3e92f1);
}

@font-face {
  font-family: 'lato-heavy';
  src: url(/fonts/Lato-Heavy.ttf?093466c99afdd5e38cfe3062dbcbba6b);
}

@font-face {
  font-family: 'lato-heavyitalic';
  src: url(/fonts/Lato-HeavyItalic.ttf?bafcb4e83847db36fa96602c4abca98d);
}

@font-face {
  font-family: 'lato-italic';
  src: url(/fonts/Lato-Italic.ttf?e0867c8fb91d45453b9d3a578b66dca8);
}

@font-face {
  font-family: 'lato-light';
  src: url(/fonts/Lato-Light.ttf?90e1d3559ac52f7f0f77a86e1bfd632d);
}

@font-face {
  font-family: 'lato-lightitalic';
  src: url(/fonts/Lato-LightItalic.ttf?7e9668b13f86893fb0a4a6e35965c107);
}

@font-face {
  font-family: 'lato-medium';
  src: url(/fonts/Lato-Medium.ttf?863b7dcd5ec2c3923122af25ce0f7e4c);
}

@font-face {
  font-family: 'lato-mediumitalic';
  src: url(/fonts/Lato-MediumItalic.ttf?ba4dbd0809f13b78b621a042efaed7d5);
}

@font-face {
  font-family: 'lato-regular';
  src: url(/fonts/Lato-Regular.ttf?3b9b99039cc0a98dd50c3cbfac57ccb2);
}

@font-face {
  font-family: 'lato-semibold';
  src: url(/fonts/Lato-Semibold.ttf?3c6cfb1aebd888a0eb4c8fba94140fa6);
}

@font-face {
  font-family: 'lato-semibolditalic';
  src: url(/fonts/Lato-SemiboldItalic.ttf?c969278938eaacc998eab23bce2a1d0c);
}

@font-face {
  font-family: 'lato-thin';
  src: url(/fonts/Lato-Thin.ttf?eb1635403cd764912ca1e0af78735797);
}

@font-face {
  font-family: 'lato-thinitalic';
  src: url(/fonts/Lato-ThinItalic.ttf?29f53f3450c6691e4195d082647aa8ca);
}

@font-face {
  font-family: 'opensans-bold';
  src: url(/fonts/OpenSans-Bold.ttf?50145685042b4df07a1fd19957275b81);
}

@font-face {
  font-family: 'opensans-bolditalic';
  src: url(/fonts/OpenSans-BoldItalic.ttf?78b08a68d05d5fabb0b8effd51bf6ade);
}

@font-face {
  font-family: 'opensans-extrabold';
  src: url(/fonts/OpenSans-ExtraBold.ttf?8bac22ed4fd7c8a30536be18e2984f84);
}

@font-face {
  font-family: 'opensans-extrabolditalic';
  src: url(/fonts/OpenSans-ExtraBoldItalic.ttf?73d6bb0d4f596a91992e6be32e82e3bc);
}

@font-face {
  font-family: 'opensans-italic';
  src: url(/fonts/OpenSans-Italic.ttf?c7dcce084c445260a266f92db56f5517);
}

@font-face {
  font-family: 'opensans-light';
  src: url(/fonts/OpenSans-Light.ttf?1bf71be111189e76987a4bb9b3115cb7);
}

@font-face {
  font-family: 'opensans-lightitalic';
  src: url(/fonts/OpenSans-LightItalic.ttf?6943fb6fd4200f3d073469325c6acdc9);
}

@font-face {
  font-family: 'opensans-regular';
  src: url(/fonts/OpenSans-Regular.ttf?629a55a7e793da068dc580d184cc0e31);
}

@font-face {
  font-family: 'opensans-semibold';
  src: url(/fonts/OpenSans-Semibold.ttf?33f225b8f5f7d6b34a0926f58f96c1e9);
}

@font-face {
  font-family: 'opensans-semibolditalic';
  src: url(/fonts/OpenSans-SemiboldItalic.ttf?73f7301a9cd7a086295401eefe0c998f);
}

@font-face {
  font-family: 'oranienbaum-regular';
  src: url(/fonts/Oranienbaum-Regular.ttf?cc819712247030fff93fc123b1882de3);
}

@font-face {
  font-family: 'oswald-bold';
  src: url(/fonts/Oswald-Bold.ttf?92837a203f0eb773631f579ddd426543);
}

@font-face {
  font-family: 'oswald-bolditalic';
  src: url(/fonts/Oswald-BoldItalic.ttf?987b52c9de0b9d63fb4c6641c620ad1e);
}

@font-face {
  font-family: 'oswald-demi-bolditalic';
  src: url(/fonts/Oswald-Demi-BoldItalic.ttf?1681f3fd7c5dbbb9e8913092987a1145);
}

@font-face {
  font-family: 'oswald-demibold';
  src: url(/fonts/Oswald-DemiBold.ttf?6da7b52b530642abccb0fcafbd628f65);
}

@font-face {
  font-family: 'oswald-extra-lightitalic';
  src: url(/fonts/Oswald-Extra-LightItalic.ttf?5cf0a76f0b6d4284be2dc4a9438c6d8f);
}

@font-face {
  font-family: 'oswald-extralight';
  src: url(/fonts/Oswald-ExtraLight.ttf?eb642797d235e0eece148876e05ea748);
}

@font-face {
  font-family: 'oswald-heavy';
  src: url(/fonts/Oswald-Heavy.ttf?85170bac9adde404612fd298634b3d7a);
}

@font-face {
  font-family: 'oswald-heavyitalic';
  src: url(/fonts/Oswald-HeavyItalic.ttf?a3bf4f0ad856556361a4fd79c5e93174);
}

@font-face {
  font-family: 'oswald-light';
  src: url(/fonts/Oswald-Light.ttf?0e85aec1f69f88a462959e415f5e8944);
}

@font-face {
  font-family: 'oswald-lightitalic';
  src: url(/fonts/Oswald-LightItalic.ttf?17008ca88ab12af2208b20a7f88237ad);
}

@font-face {
  font-family: 'oswald-medium';
  src: url(/fonts/Oswald-Medium.ttf?e0f21da93916967b421f0c99e9a0f0b0);
}

@font-face {
  font-family: 'oswald-mediumitalic';
  src: url(/fonts/Oswald-MediumItalic.ttf?dc7a5106882ba1d187cb31752b8c1812);
}

@font-face {
  font-family: 'oswald-regular';
  src: url(/fonts/Oswald-Regular.ttf?e605f2f859072ed0443aeda5adec4181);
}

@font-face {
  font-family: 'oswald-regularitalic';
  src: url(/fonts/Oswald-RegularItalic.ttf?b5e1a9c973bd2bea9a343469073d9c8e);
}

@font-face {
  font-family: 'oswald-stencil';
  src: url(/fonts/Oswald-Stencil.ttf?eccf06e468dd0f23a81931a956ba4b92);
}

@font-face {
  font-family: 'ptc55f';
  src: url(/fonts/PTC55F.ttf?b1b337adf11ce099611ca3c66d3def5a);
}

@font-face {
  font-family: 'ptc75f';
  src: url(/fonts/PTC75F.ttf?31a9a3f1401b5e45789ad4ddf2659776);
}

@font-face {
  font-family: 'ptn57f';
  src: url(/fonts/PTN57F.ttf?b7251995ac86d160b3944084b9dea7a8);
}

@font-face {
  font-family: 'ptn77f';
  src: url(/fonts/PTN77F.ttf?c1ccd7e70fd3cb2fe6b67c73086f4ee9);
}

@font-face {
  font-family: 'pts55f';
  src: url(/fonts/PTS55F.ttf?dd4392e46da08ffb5d099ad7532b24f9);
}

@font-face {
  font-family: 'pts56f';
  src: url(/fonts/PTS56F.ttf?288b2e5a6ed2c01b890f26fd8ed0d2b9);
}

@font-face {
  font-family: 'pts75f';
  src: url(/fonts/PTS75F.ttf?b7202751c8233c4401faeb40dbe75a87);
}

@font-face {
  font-family: 'pts76f';
  src: url(/fonts/PTS76F.ttf?8f2321df2014a1fa15c60fdb378a6308);
}

@font-face {
  font-family: 'philosopher-bold';
  src: url(/fonts/Philosopher-Bold.ttf?8c1d45b95e683ac107f6dc53444b19c6);
}

@font-face {
  font-family: 'philosopher-bolditalic';
  src: url(/fonts/Philosopher-BoldItalic.ttf?c45d7dc43804f2d63c949cfe31af59aa);
}

@font-face {
  font-family: 'philosopher-italic';
  src: url(/fonts/Philosopher-Italic.ttf?72aa376558426fe13071a55fbaf2acf5);
}

@font-face {
  font-family: 'philosopher-regular';
  src: url(/fonts/Philosopher-Regular.ttf?da344d60eeec3342a939cbbe77564179);
}

@font-face {
  font-family: 'poiretone-regular';
  src: url(/fonts/PoiretOne-Regular.ttf?3b585e0e2f91bef9ab6ea74f7e302f20);
}

@font-face {
  font-family: 'raleway-black';
  src: url(/fonts/Raleway-Black.ttf?3fc090e7188efb11fe2fef586bbb1a44);
}

@font-face {
  font-family: 'raleway-blackitalic';
  src: url(/fonts/Raleway-BlackItalic.ttf?1ec88bc52d1686c5192b34435fff8ea1);
}

@font-face {
  font-family: 'raleway-bold';
  src: url(/fonts/Raleway-Bold.ttf?575e4317521b381ac94c0c8207c81979);
}

@font-face {
  font-family: 'raleway-bolditalic';
  src: url(/fonts/Raleway-BoldItalic.ttf?c7a4548f69aa83778b84585f5bb558b9);
}

@font-face {
  font-family: 'raleway-extrabold';
  src: url(/fonts/Raleway-ExtraBold.ttf?a38a54df0089bca4f5109fe44f944051);
}

@font-face {
  font-family: 'raleway-extrabolditalic';
  src: url(/fonts/Raleway-ExtraBoldItalic.ttf?e314d73289b57b6764c143bfefc1016c);
}

@font-face {
  font-family: 'raleway-extralight';
  src: url(/fonts/Raleway-ExtraLight.ttf?1f43e4f21a0b08df2629fe68a0b72721);
}

@font-face {
  font-family: 'raleway-extralightitalic';
  src: url(/fonts/Raleway-ExtraLightItalic.ttf?9d3080b9f3c5de2b749c4ba3ce446d29);
}

@font-face {
  font-family: 'raleway-italic';
  src: url(/fonts/Raleway-Italic.ttf?dd03a26a6d06f63d75ceeac6b491f26a);
}

@font-face {
  font-family: 'raleway-light';
  src: url(/fonts/Raleway-Light.ttf?b1bdea561f247adc2c904f5b24a07c51);
}

@font-face {
  font-family: 'raleway-lightitalic';
  src: url(/fonts/Raleway-LightItalic.ttf?d817d3a18e437e12e243aa3475b89f53);
}

@font-face {
  font-family: 'raleway-medium';
  src: url(/fonts/Raleway-Medium.ttf?430a0518f5ff3b6c8968b759a29b36e2);
}

@font-face {
  font-family: 'raleway-mediumitalic';
  src: url(/fonts/Raleway-MediumItalic.ttf?ff3c8ca6aa39754108f381ba4d7d5c13);
}

@font-face {
  font-family: 'raleway-regular';
  src: url(/fonts/Raleway-Regular.ttf?580d0778ad254335be45bf58bb449f43);
}

@font-face {
  font-family: 'raleway-semibold';
  src: url(/fonts/Raleway-SemiBold.ttf?17ba6410cbc694808961a988fd4426de);
}

@font-face {
  font-family: 'raleway-semibolditalic';
  src: url(/fonts/Raleway-SemiBoldItalic.ttf?0ef49fe89bb646aed7c0a10852b7d342);
}

@font-face {
  font-family: 'raleway-thin';
  src: url(/fonts/Raleway-Thin.ttf?9f5eec4e61754abf89124df236b87358);
}

@font-face {
  font-family: 'raleway-thinitalic';
  src: url(/fonts/Raleway-ThinItalic.ttf?15c46f66688256cc6bfc826f33bc0a1d);
}

@font-face {
  font-family: 'roboto-black';
  src: url(/fonts/Roboto-Black.ttf?a77b7fc4cf040eb5bb26b0685893a9df);
}

@font-face {
  font-family: 'roboto-blackitalic';
  src: url(/fonts/Roboto-BlackItalic.ttf?4ed7470bb05534191cd12d87cc02c598);
}

@font-face {
  font-family: 'roboto-bold';
  src: url(/fonts/Roboto-Bold.ttf?afa7a91dadd77b23634a0fdf18c148f3);
}

@font-face {
  font-family: 'roboto-bolditalic';
  src: url(/fonts/Roboto-BoldItalic.ttf?d0108b3d28ce9d0261b33838cdf5ce68);
}

@font-face {
  font-family: 'roboto-italic';
  src: url(/fonts/Roboto-Italic.ttf?2991e14ab958afe393cf5815cd4e6915);
}

@font-face {
  font-family: 'roboto-light';
  src: url(/fonts/Roboto-Light.ttf?e22062b3188c8199283ef2aa835d4653);
}

@font-face {
  font-family: 'roboto-lightitalic';
  src: url(/fonts/Roboto-LightItalic.ttf?1e27387f589f7cce254e05151df253bc);
}

@font-face {
  font-family: 'roboto-medium';
  src: url(/fonts/Roboto-Medium.ttf?99fc0816a09395454061301fefa42bf1);
}

@font-face {
  font-family: 'roboto-mediumitalic';
  src: url(/fonts/Roboto-MediumItalic.ttf?a0338073eed8fa60d0a779b3980d2cf0);
}

@font-face {
  font-family: 'roboto-regular';
  src: url(/fonts/Roboto-Regular.ttf?54a91b0619ccf9373d525109268219dc);
}

@font-face {
  font-family: 'roboto-thin';
  src: url(/fonts/Roboto-Thin.ttf?5ecbc99d1a81fed7dc71cb068ec0a74d);
}

@font-face {
  font-family: 'roboto-thinitalic';
  src: url(/fonts/Roboto-ThinItalic.ttf?84e36ae92150293a5a61f5eb1e1b3d6c);
}

@font-face {
  font-family: 'robotocondensed-bold';
  src: url(/fonts/RobotoCondensed-Bold.ttf?52f9b35f9f7cfa1be2644bcbac61a983);
}

@font-face {
  font-family: 'robotocondensed-bolditalic';
  src: url(/fonts/RobotoCondensed-BoldItalic.ttf?2860190205c52812d6575eb24eed1020);
}

@font-face {
  font-family: 'robotocondensed-italic';
  src: url(/fonts/RobotoCondensed-Italic.ttf?12ca82aeda584d84d13d0c067a5e1e9d);
}

@font-face {
  font-family: 'robotocondensed-light';
  src: url(/fonts/RobotoCondensed-Light.ttf?5b45554305562f2fc404839bb9fe418a);
}

@font-face {
  font-family: 'robotocondensed-lightitalic';
  src: url(/fonts/RobotoCondensed-LightItalic.ttf?11989836a08a2e1f2e33c89b9420ceda);
}

@font-face {
  font-family: 'robotocondensed-regular';
  src: url(/fonts/RobotoCondensed-Regular.ttf?0e1821fdf320fddc0e1c2b272c422068);
}

@font-face {
  font-family: 'wagnasty';
  src: url(/fonts/Wagnasty.ttf?8a41e5c7459c2d0ec95e5d8367ab709f);
}

@font-face {
  font-family: 'alpha_echo';
  src: url(/fonts/alpha_echo.ttf?0c47ff089332e6805ffc762e4224ff12);
}

@font-face {
  font-family: 'major_shift';
  src: url(/fonts/major_shift.ttf?93aeb2c5b11e2f03f533609f6a4c5e0f);
}

@font-face {
  font-family: 'nervous_rex';
  src: url(/fonts/nervous_rex.ttf?667953ad78d8962157954ecd1e13e1cd);
}

@font-face {
  font-family: 'plexifont';
  src: url(/fonts/plexifont.ttf?a284c70bbb4e9490eb70ea42dac557fe);
}

@font-face {
  font-family: 'zero_and_zero_is';
  src: url(/fonts/zero_and_zero_is.ttf?bece844daeb17fd2add8f3fc407c4126);
}

.font-amerikaa {
  font-family: 'amerikaa';
}

.font-amerika_ {
  font-family: 'amerika_';
}

.font-amersn__ {
  font-family: 'amersn__';
}

.font-boycott_ {
  font-family: 'boycott_';
}

.font-capture_it {
  font-family: 'capture_it';
}

.font-capture_it_2 {
  font-family: 'capture_it_2';
}

.font-caviardreams {
  font-family: 'caviardreams';
}

.font-caviardreams_bolditalic {
  font-family: 'caviardreams_bolditalic';
}

.font-caviardreams_italic {
  font-family: 'caviardreams_italic';
}

.font-caviar_dreams_bold {
  font-family: 'caviar_dreams_bold';
}

.font-gesso___ {
  font-family: 'gesso___';
}

.font-lato-black {
  font-family: 'lato-black';
}

.font-lato-blackitalic {
  font-family: 'lato-blackitalic';
}

.font-lato-bold {
  font-family: 'lato-bold';
}

.font-lato-bolditalic {
  font-family: 'lato-bolditalic';
}

.font-lato-hairline {
  font-family: 'lato-hairline';
}

.font-lato-hairlineitalic {
  font-family: 'lato-hairlineitalic';
}

.font-lato-heavy {
  font-family: 'lato-heavy';
}

.font-lato-heavyitalic {
  font-family: 'lato-heavyitalic';
}

.font-lato-italic {
  font-family: 'lato-italic';
}

.font-lato-light {
  font-family: 'lato-light';
}

.font-lato-lightitalic {
  font-family: 'lato-lightitalic';
}

.font-lato-medium {
  font-family: 'lato-medium';
}

.font-lato-mediumitalic {
  font-family: 'lato-mediumitalic';
}

.font-lato-regular {
  font-family: 'lato-regular';
}

.font-lato-semibold {
  font-family: 'lato-semibold';
}

.font-lato-semibolditalic {
  font-family: 'lato-semibolditalic';
}

.font-lato-thin {
  font-family: 'lato-thin';
}

.font-lato-thinitalic {
  font-family: 'lato-thinitalic';
}

.font-opensans-bold {
  font-family: 'opensans-bold';
}

.font-opensans-bolditalic {
  font-family: 'opensans-bolditalic';
}

.font-opensans-extrabold {
  font-family: 'opensans-extrabold';
}

.font-opensans-extrabolditalic {
  font-family: 'opensans-extrabolditalic';
}

.font-opensans-italic {
  font-family: 'opensans-italic';
}

.font-opensans-light {
  font-family: 'opensans-light';
}

.font-opensans-lightitalic {
  font-family: 'opensans-lightitalic';
}

.font-opensans-regular {
  font-family: 'opensans-regular';
}

.font-opensans-semibold {
  font-family: 'opensans-semibold';
}

.font-opensans-semibolditalic {
  font-family: 'opensans-semibolditalic';
}

.font-oranienbaum-regular {
  font-family: 'oranienbaum-regular';
}

.font-oswald-bold {
  font-family: 'oswald-bold';
}

.font-oswald-bolditalic {
  font-family: 'oswald-bolditalic';
}

.font-oswald-demi-bolditalic {
  font-family: 'oswald-demi-bolditalic';
}

.font-oswald-demibold {
  font-family: 'oswald-demibold';
}

.font-oswald-extra-lightitalic {
  font-family: 'oswald-extra-lightitalic';
}

.font-oswald-extralight {
  font-family: 'oswald-extralight';
}

.font-oswald-heavy {
  font-family: 'oswald-heavy';
}

.font-oswald-heavyitalic {
  font-family: 'oswald-heavyitalic';
}

.font-oswald-light {
  font-family: 'oswald-light';
}

.font-oswald-lightitalic {
  font-family: 'oswald-lightitalic';
}

.font-oswald-medium {
  font-family: 'oswald-medium';
}

.font-oswald-mediumitalic {
  font-family: 'oswald-mediumitalic';
}

.font-oswald-regular {
  font-family: 'oswald-regular';
}

.font-oswald-regularitalic {
  font-family: 'oswald-regularitalic';
}

.font-oswald-stencil {
  font-family: 'oswald-stencil';
}

.font-ptc55f {
  font-family: 'ptc55f';
}

.font-ptc75f {
  font-family: 'ptc75f';
}

.font-ptn57f {
  font-family: 'ptn57f';
}

.font-ptn77f {
  font-family: 'ptn77f';
}

.font-pts55f {
  font-family: 'pts55f';
}

.font-pts56f {
  font-family: 'pts56f';
}

.font-pts75f {
  font-family: 'pts75f';
}

.font-pts76f {
  font-family: 'pts76f';
}

.font-philosopher-bold {
  font-family: 'philosopher-bold';
}

.font-philosopher-bolditalic {
  font-family: 'philosopher-bolditalic';
}

.font-philosopher-italic {
  font-family: 'philosopher-italic';
}

.font-philosopher-regular {
  font-family: 'philosopher-regular';
}

.font-poiretone-regular {
  font-family: 'poiretone-regular';
}

.font-raleway-black {
  font-family: 'raleway-black';
}

.font-raleway-blackitalic {
  font-family: 'raleway-blackitalic';
}

.font-raleway-bold {
  font-family: 'raleway-bold';
}

.font-raleway-bolditalic {
  font-family: 'raleway-bolditalic';
}

.font-raleway-extrabold {
  font-family: 'raleway-extrabold';
}

.font-raleway-extrabolditalic {
  font-family: 'raleway-extrabolditalic';
}

.font-raleway-extralight {
  font-family: 'raleway-extralight';
}

.font-raleway-extralightitalic {
  font-family: 'raleway-extralightitalic';
}

.font-raleway-italic {
  font-family: 'raleway-italic';
}

.font-raleway-light {
  font-family: 'raleway-light';
}

.font-raleway-lightitalic {
  font-family: 'raleway-lightitalic';
}

.font-raleway-medium {
  font-family: 'raleway-medium';
}

.font-raleway-mediumitalic {
  font-family: 'raleway-mediumitalic';
}

.font-raleway-regular {
  font-family: 'raleway-regular';
}

.font-raleway-semibold {
  font-family: 'raleway-semibold';
}

.font-raleway-semibolditalic {
  font-family: 'raleway-semibolditalic';
}

.font-raleway-thin {
  font-family: 'raleway-thin';
}

.font-raleway-thinitalic {
  font-family: 'raleway-thinitalic';
}

.font-roboto-black {
  font-family: 'roboto-black';
}

.font-roboto-blackitalic {
  font-family: 'roboto-blackitalic';
}

.font-roboto-bold {
  font-family: 'roboto-bold';
}

.font-roboto-bolditalic {
  font-family: 'roboto-bolditalic';
}

.font-roboto-italic {
  font-family: 'roboto-italic';
}

.font-roboto-light {
  font-family: 'roboto-light';
}

.font-roboto-lightitalic {
  font-family: 'roboto-lightitalic';
}

.font-roboto-medium {
  font-family: 'roboto-medium';
}

.font-roboto-mediumitalic {
  font-family: 'roboto-mediumitalic';
}

.font-roboto-regular {
  font-family: 'roboto-regular';
}

.font-roboto-thin {
  font-family: 'roboto-thin';
}

.font-roboto-thinitalic {
  font-family: 'roboto-thinitalic';
}

.font-robotocondensed-bold {
  font-family: 'robotocondensed-bold';
}

.font-robotocondensed-bolditalic {
  font-family: 'robotocondensed-bolditalic';
}

.font-robotocondensed-italic {
  font-family: 'robotocondensed-italic';
}

.font-robotocondensed-light {
  font-family: 'robotocondensed-light';
}

.font-robotocondensed-lightitalic {
  font-family: 'robotocondensed-lightitalic';
}

.font-robotocondensed-regular {
  font-family: 'robotocondensed-regular';
}

.font-wagnasty {
  font-family: 'wagnasty';
}

.font-alpha_echo {
  font-family: 'alpha_echo';
}

.font-major_shift {
  font-family: 'major_shift';
}

.font-nervous_rex {
  font-family: 'nervous_rex';
}

.font-plexifont {
  font-family: 'plexifont';
}

.font-zero_and_zero_is {
  font-family: 'zero_and_zero_is';
}

.pointer {
  cursor: pointer;
}

.vc-sketch {
  color: #232323;
}

/* upload image */

.vue-image-crop-upload .vicp-wrap {
  background-color: #2b2a2a !important;
  width: 100% !important;
  height: 70% !important;
}

.vue-image-crop-upload .vicp-wrap .vicp-step3 .vicp-upload {
  padding: 16px !important;
}

.vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right {
  width: 225px;
}

.vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item span {
  color: #717070 !important;
  text-align: unset !important;
}

/* END upload image */

